@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@1,500&display=swap');
html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
}
body {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


.slick-arrow.slick-prev{
  left: -35px;
  height: 30px;
  width: 30px;
}
.slick-arrow.slick-prev::before {
  color: #000;
  opacity: 1;
  font-size: 30px;

  
 
}
.slick-arrow.slick-next::before {
  color: #000;
  opacity: 1;
  font-size: 30px;

}
